body {
    background-color: lightblue;
}

h1 {
    color: navy;
    text-align: center;
}

#code_input
{
    height: 500px;
	resize: none;
	white-space: nowrap;
}

#input_block
{
    display: inline-block;
}

#render_window
{
    width: 500px;
    height: 505px;
    background-color: black;
    display: inline-block;
    vertical-align: top;
}

#selector_block
{
    vertical-align: top;
    display: none;
}

#splines_count
{
    display: inline;
}

#surfaces_count
{
    display: inline;
}

#smesg
{
    font-weight: bold;
    font-size: 16px;
}

div.examples
{
	display: none;
	white-space: pre-wrap;
	overflow: auto;
    overflow-x: hidden
}

.wrapper {
    text-align: left;
}

#helpButton
{
    position: absolute:
    top: 50%;
}

